# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
*.egg-info/

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# IDE
.vscode/

# WANDB
wandb/
lightning_logs/
gnn-paper-v0

figures/
slides/
explore/