# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*__pycache__*

# Distribution / packaging
build/
*.egg-info/

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# IDE
.vscode/

# WANDB
wandb/
lightning_logs/
gnn-paper-v0
runs/

figures/
slides/
explore/
hyperparam_serach/
GLAMMDset*
dset_pseudo*
zero_imp_dset*

post_process_FE_legacy.py
post_process_FE_debug.py
make_imperfections_debug.py
make_octet_rot.py
tiny_dset*
try*

abaqus.rpy*